:root {
  --text_dark: #391400;
  --text_dark_gray: rgba(57, 20, 0, 0.64);
  --white: #ffffff;
  --primary: #ef6d58;
  --text_light_gray: #ffffff;
  --bg: #16161a;
  --bg-2: #242629;
  --grey-1: #dbdde0;
  --grey-2: #4d4d4d;
  --orange-ligth: #fdebeb;
  --h1: 800 4.5rem/5rem Epilogue;
  --h2: 300 3.5rem/4rem Epilogue;
  --h3: 800 2.5rem/3rem Epilogue;
  --h5: 300 1rem/2rem Epilogue;
  --label: 700 0.75rem / normal Epilogue;
  --text_big: 400 1.25rem/2rem Epilogue;
  --text: 400 1rem/2rem Epilogue;
  --text_small: 400 0.875rem/1.5rem Epilogue;
  --button: 900 0.875rem / normal Epilogue;
  --h4-bold: 700 1.5rem/2rem Epilogue;
  --h4-light: 300 1.5rem/2rem Epilogue;
}
h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
  padding: 0;
}
body {
  font: var(--text);
  margin: 0;
}
.allContent {
  overflow-x: hidden;
  position: relative;
}
.mostSearch {
  position: relative;
}
.header {
  color: var(--text_dark);
  margin-block-end: 40px;
  padding-inline: 16px;
  padding-block-start: 16px;
}
.circleblue {
  width: 462px;
  height: 462px;
  border-radius: 50%;
  background: radial-gradient(
    50% 50% at 50% 50%,
    #a9ebf7 0%,
    rgba(223, 255, 249, 0) 100%
  );
  position: absolute;
  inset-inline-start: -158px;
  inset-block-start: 0px;
}
.circlered {
  width: 616px;
  height: 616px;
  border-radius: 50%;
  background: radial-gradient(
    50% 50% at 50% 50%,
    #ffe8e8 0%,
    rgba(223, 255, 249, 0) 100%
  );
  position: absolute;
  inset-inline-start: 112px;
  inset-block-start: 0px;
}
.main {
  padding-inline: 16px;
  display: flex;
  flex-direction: column;
  gap: 80px;
}
.cakeshop {
  font: var(--h4-bold);
  font-family: Impact;
  text-align: center;
}
.title {
  font: var(--h3);
}
.header__content {
  isolation: isolate;
  margin-block-start: 32px;
}
.header__description {
  font: var(--text);
}
.header__content,
.search__descripcion,
.logo__desktop,
.specials__description {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.slider {
  align-self: center;
}
.desktop__title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 24px;
}
.button {
  width: 100%;
  padding-block: 17px;
  border-radius: 70px;
  border: none;
  background-color: var(--primary);
  font: var(--button);
  color: var(--white);
}
.button:hover {
  cursor: pointer;
  background-color: rgba(137, 10, 10, 0.823);
}
.section {
  display: flex;
  flex-direction: column;
  gap: 40px;
  color: var(--text_dark);
}
.specials__cards,
.search_cards {
  display: flex;
  flex-direction: column;
  gap: 48px;
  isolation: isolate;
}
.mostSearch__description {
  isolation: isolate;
}
.titles {
  text-align: center;
  font: var(--h4-light);
}
.specials__title {
  padding-inline: 15px;
}
.cards {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 24px;
}
.photos {
  object-fit: cover;
  aspect-ratio: 1 / 1;
}
.price__title {
  font: var(--h4-bold);
  display: flex;
  justify-content: space-between;
}
.descriptions {
  font: var(--text_big);
  color: var(--text_dark_gray);
}
.mostSearch__title {
  align-self: flex-start;
  isolation: isolate;
}
.comments__title {
  padding-inline: 25px;
}
.story {
  display: flex;
  flex-direction: column;
  gap: 50px;
  border: 1px solid var(--primary);
  padding: 29px;
}
.person {
  display: flex;
  align-items: center;
  gap: 24px;
}
.stars {
  width: 50%;
  margin-block-end: 58px;
}
.footer {
  padding-inline: 16px;
  padding-block-start: 64px;
  display: flex;
  gap: 40px;
}
.footer__title {
  padding-inline: 10px;
}
.contact__title {
  font: var(h5);
  color: var(--primary);
  letter-spacing: 3px;
}
.boxInformation {
  display: flex;
  align-items: center;
  gap: 16px;
}
.textInformation {
  font: var(--text_big);
}
.contact {
  margin-block-end: 40px;
}
.fill {
  background-color: var(--orange-ligth);
  padding: 28px;
  border-radius: 6px;
}
.put {
  display: flex;
  flex-direction: column;
  margin-block-end: 16px;
}
.fill__maintitle {
  font: var(--h4-bold);
  margin-bottom: 24px;
}
.fill__title {
  font: var(--label);
}
.holder::placeholder {
  color: var(--grey-2);
  font: var(--text_small);
  line-height: 1.5z;
}
.holder {
  margin-block-start: 16px;
  border: none;
  border-radius: 6px;
}
.enviar {
  max-width: 170px;
}
.social {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-block-end: 40px;
  gap: 24px;
}
.social__header {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.linea {
  border: 0.5px solid var(--bg-2);
}
.photos:hover {
  transition: 0.2s;
  transform: scale(0.97);
  cursor: pointer;
}
.icon:hover,
.photo__person:hover {
  transition: 0.2s;
  transform: scale(1.3);
}
.error {
  color: orangered;
}
@media (min-width: 768px) {
  .cakeshop {
    text-align: start;
    isolation: isolate;
  }
  .header {
    display: flex;
    flex-direction: column;
    padding-inline-start: 30px;
  }
  .circleblue {
    right: 550px;
  }
  .circlered {
    left: 400px;
  }
  .main {
    padding-inline: 30px;
    padding-block: 70px;
  }
  .footer,
  .stories {
    padding-inline: 60px;
  }
  .titles {
    font: var(--h2);
  }
  .header__content {
    flex-direction: row-reverse;
  }
  .logo__desktop {
    width: 100%;
  }
  .logoImage {
    flex-basis: 100%;
  }
  .desktop__title .button {
    width: 80%;
  }
  .photos {
    margin: auto;
  }
  .cards {
    padding-inline: 160px;
  }
  .contact {
    padding: unset;
  }
}

@media (min-width: 1024px) {
  .header {
    padding-inline-start: 60px;
    padding-block-start: 40px;
  }
  .circleblue {
    background: radial-gradient(
      50% 50% at 50% 50%,
      #dffff9 0%,
      rgba(223, 255, 249, 0) 100%
    );
    width: 800px;
    height: 800px;
    inset-inline-start: -100px;
    inset-block-start: -160px;
  }
  .circlered {
    background: radial-gradient(
      50% 50% at 50% 50%,
      #ffe8e8 0%,
      rgba(223, 255, 249, 0) 100%
    );
    width: 1000px;
    height: 1000px;
    inset-inline-start: 660px;
    inset-block-start: -360px;
  }
  .main {
    padding-inline: 60px;
  }
  .desktop__title .button {
    width: 60%;
  }
  .slider {
    align-self: flex-start;
  }
  .cards {
    padding: unset;
    display: flex;
    flex-direction: row;
  }
  .specials__cards {
    padding-inline: 140px;
  }
  .search_cards {
    padding-inline: 120px;
  }
  .contact {
    flex-direction: column;
  }
  .footer,
  .stories {
    padding-inline: unset;
  }
  .footer,
  .stories {
    padding-inline: 120px;
  }
}

@media (min-width: 1280px) {
  .header {
    padding-inline-start: 120px;
  }
  .circleblue {
    width: 1200px;
    height: 1200px;
    inset-inline-start: -200px;
    inset-block-start: -260px;
  }
  .circlered {
    width: 1600px;
    height: 1600px;
    inset-inline-start: 860px;
    top: -560px;
  }
  .desktop__title {
    flex-basis: 55%;
  }
  .header__title {
    font: var(--h1);
  }
  .desktop__title .button {
    width: 50%;
  }
  .main {
    padding-inline: 120px;
    padding-block: 90px;
    width: fit-content;
  }
  .cards {
    flex-direction: column;
  }
  .photos {
    margin: unset;
  }
  .mostSearch {
    margin-block: 50px;
  }
  .specials__cards {
    display: flex;
    flex-direction: row;
    padding: unset;
    gap: 24px;
  }
  .search_cards {
    display: grid;
    gap: 24px;
    grid-template-columns: 1fr 1fr;
    padding: unset;
  }
  .choco__photos {
    object-fit: cover;
    width: 50%;
  }
  .chocorols,
  .dona,
  .blublu,
  .gallinita {
    flex-direction: row;
  }
  .search__descripcion {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .stories {
    display: flex;
  }
  .footer {
    padding-inline: 120px;
  }
  .footer__box {
    display: flex;
    margin-block: 50px;
  }
  .social__header {
    flex-direction: row;
    justify-content: space-between;
  }
  .fill {
    flex-basis: 40%;
  }
  .stories {
    padding-inline: unset;
  }
}
